* {
  padding: 0;
  margin: 0;
}

body,html {
  color: #eee;
  height: 100%;
  width: 100%;
  background: #333;
  font-family: 'Raleway', sans-serif;
  text-align: center;
}

.logo {
  font-size: 2em;
  padding: 1% 1%;
  background: #E84A4A;
  color: #fff;
  display: block;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%,-50%);
  box-shadow: 0 5px 15px rgba(0, 0, 0, 0.5);
}

nav {
  padding: 5px;
  position: fixed;
  right: 0;
  top: 50%;
  transform: translateY(-50%);
  float: right;
  z-index: 9999;
}

nav ul {
  list-style-type: none;
}

nav ul li {
  display: block;
}

.circle {
  display: block;
  margin: 15px 0px;
  border-radius: 50%;
  height: 10px;
  width: 10px;
  background: rgba(255, 255, 255, 0);
  border: 2px solid #fff;
  transition: all 0.2s ease;
}

.circle:hover {
  background: rgba(255, 255, 255, 0.5);
  border: 2px solid #fff;
}

.isActive {
  background: rgba(255, 255, 255, 1);
}


section {
  height: 100vh;
  background: #282828;;
  /*position: relative;*/
}

#section1 {
  background-image: url("../img/bg2.jpg");
  background-attachment: fixed;
  background-size: cover;
}

#section2 {
  position: relative;
}

#section3 {
  background-image: url("../img/bg3.jpg");
  background-attachment: fixed;
  background-size: cover;
}

.content {
  font-family: 'Roboto', sans-serif;
  position: absolute;
  display: block;
  width: 90%;
  height: 90%;
  top: 5%;
  left: 5%;
}

.content h1 {

  width: 100%;
  border-bottom: 1px solid #eee;
  font-size: 3em;
  line-height: 0.1em;
  margin: 10px 0 20px;
}

.content h1 span {
  background: #282828;
  padding: 0 10px;
}

.content h2 {
  font-weight: 300;
  font-size: 2em;
  line-height: 1;
  margin-bottom: 1em;
}

.content p {
  font-size: 1em;
}
