.links {
  margin-top: 2.5rem;
  font-size: 16px;

  a {
    color: $accent;
    margin-right: 1rem;
    position: relative;

    &:hover:before {
      background-color: $accent;
      height: 2px;
      display: block;
    }

    &:before {
      display: none;
    }

    &:after {
      position: absolute;
      content: "•";
      left: calc(100% + 0.5rem);
      color: #ccc;
    }

    &:last-child:after {
      content: "";
    }
  }
}