.list {
  .list-item {
    margin-bottom: 1rem;

    &:last-child {
      margin-bottom: 0;
    }

    .content {
      padding-left: 2rem;

      & > p {
        font-size: 16px;
      }
    }

    .highlights {
      font-size: 16px;
    }

    .thumbnail {
      max-width: 200px;
      display: block;
    }
  }
}