@import "reset";
@import "variables";
@import "typography";
@import "links";
@import "list";
@import "section";
@import "fun";

* {
  box-sizing: border-box;
}

html {
  scroll-behavior: smooth;
}

body {
  overflow-y: scroll;
  line-height: 1.5;
  font-family: 'Montserrat', 'Helvetica', 'Arial', sans-serif;
  font-size: 21px;
  color: $dark;
  overflow-x: hidden;
}

.container {
  position: relative;
  max-width: 1000px;
  margin: 0 auto;
}

.floaty-container {
  height: 100%;
  display: flex;
  align-items: center;
}

.margin-bottom {
  margin-bottom: 2rem;
}

.flex {
  display: flex;
  align-items: flex-start;
}

.w-100 {
  width: 100%;
}

.h-100 {
  height: 100%;
}

.justify-between {
  justify-content: space-between;
}

.list-thumbnail {
  display: block;
}