/* ugly normalize css */
* {
  box-sizing: border-box; }

html, body, p, ol, ul, li, dl, dt, dd, blockquote, figure, fieldset, legend, textarea, pre, iframe, hr, h1, h2, h3, h4, h5, h6 {
  margin: 0;
  padding: 0; }

/* BASE */
html {
  background-color: #fff;
  font-size: 16px;
  -moz-osx-font-smoothing: grayscale;
  -webkit-font-smoothing: antialiased;
  min-width: 300px;
  overflow-x: hidden;
  overflow-y: scroll;
  text-rendering: optimizeLegibility; }

body {
  color: #4d4d4d;
  font-size: 1rem;
  font-weight: 400;
  line-height: 1.5; }

body, button, input, select, textarea {
  font-family: "Roboto", sans-serif; }

a {
  color: #59bd81;
  text-decoration: none;
  font-weight: 700;
  position: relative; }
  a:after {
    content: '';
    display: block;
    width: 0;
    height: 2px;
    position: absolute;
    left: 0;
    bottom: 0;
    background-color: #59bd81;
    transition: all 250ms ease-in-out; }
  a:hover:after {
    width: 100%; }

ul {
  list-style: none; }

hr {
  background: #d9d9d9;
  height: 2px;
  width: 100%;
  border: 0;
  margin: 1em 0; }

/* LAYOUT */
.wrapper {
  max-width: 100%;
  width: 700px;
  position: absolute;
  top: 5%;
  left: 50%;
  transform: translateX(-50%); }

.container {
  position: relative; }

.control {
  position: relative;
  text-align: left; }
  .control:not(:last-child) {
    margin-bottom: 1rem; }

#intro {
  font-size: 1.25em; }

#work-list:hover li {
  opacity: 0.5; }

#work-list li {
  transition: all 250ms ease-in-out; }
  #work-list li:hover {
    opacity: 1; }

#footer {
  font-size: 0.9em; }

/* COMPONENTS */
#popup {
  position: fixed;
  top: 50%;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: 2;
  background: #fff;
  box-shadow: 0 0 20px rgba(51, 51, 51, 0.5);
  opacity: 0;
  pointer-events: none;
  overflow-y: scroll;
  transition: all 500ms ease-in-out;
  -webkit-perspective: 1000;
  -webkit-backface-visibility: hidden;
  transform: translate3d(0, 0, 0); }
  #popup.is-active {
    opacity: 1;
    top: 5%;
    pointer-events: all; }
  #popup #close-btn {
    position: absolute;
    top: 1em;
    right: 1em;
    cursor: pointer;
    color: #333;
    background-color: transparent;
    padding: 0.5em 1em;
    font-size: 1rem;
    font-weight: 700;
    text-transform: uppercase;
    border: 0; }
    #popup #close-btn:hover {
      color: #fff;
      background-color: #4d4d4d; }
    #popup #close-btn:focus, #popup #close-btn:active, #popup #close-btn.is-active {
      color: #fff;
      background-color: #333; }
  #popup .title {
    margin: 0;
    font-size: 2.5em; }

#logo {
  padding-bottom: 0; }

.logo-container {
  display: block;
  width: 64px;
  height: 64px;
  position: relative;
  overflow: hidden; }
  .logo-container:hover:after {
    width: 0; }
  .logo-container .logo {
    position: absolute;
    display: block;
    left: 0;
    bottom: 0;
    opacity: 1; }

.section {
  background-color: #fff;
  padding: 3rem 1.5rem; }

.title {
  color: #333;
  font-size: 1.5em;
  margin-bottom: 0.5em; }

.faded {
  opacity: 0.75; }
  .faded.is-extra-faded {
    opacity: 0.5; }

.list-label {
  font-weight: 700;
  color: #333;
  padding-bottom: 1em; }

.level {
  display: flex;
  justify-content: space-between;
  margin: -0.825em; }
  .level.is-compact {
    justify-content: center; }
  .level .level-item {
    padding: 0.825em; }

.icon {
  display: inline-block;
  font-size: 21px;
  height: 1.5rem;
  width: 1.5rem;
  line-height: 1.5rem;
  text-align: center;
  vertical-align: top;
  transition: all 250ms ease-in-out; }
  .icon:hover {
    color: #333; }
  .icon:hover:after {
    width: 0; }
  .icon .fa {
    font-size: inherit;
    line-height: inherit; }

.fa {
  font-size: 21px;
  text-align: center;
  vertical-align: top; }

/* HELPERS */
.sans {
  font-family: "Roboto", sans-serif; }

.serif {
  font-family: "Roboto Slab", serif; }

.bold {
  font-weight: 700; }

.has-text-left {
  text-align: left; }

.has-text-centered {
  text-align: center; }

.has-text-right {
  text-align: right; }
