@charset "UTF-8";
/* http://meyerweb.com/eric/tools/css/reset/
   v2.0 | 20110126
   License: none (public domain)
*/
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline; }

/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
  display: block; }

body {
  line-height: 1; }

ol, ul {
  list-style: none; }

blockquote, q {
  quotes: none; }

blockquote:before, blockquote:after,
q:before, q:after {
  content: '';
  content: none; }

table {
  border-collapse: collapse;
  border-spacing: 0; }

h1 {
  font-size: 2.4rem;
  line-height: 1.4;
  font-weight: 500; }

h2 {
  font-size: 34px; }

p {
  font-family: 'Roboto Slab', serif; }

b {
  font-weight: 700; }

a {
  position: relative;
  color: #111111;
  text-decoration: none;
  font-weight: 700; }
  a:before {
    content: "";
    display: block;
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 0.33em;
    background-color: rgba(45, 187, 84, 0.5);
    z-index: -1;
    transition: all 200ms ease-in-out; }
  a:hover:before {
    background-color: #2DBB54;
    height: 100%; }

.huge {
  font-size: 3rem; }

.big {
  font-size: 24px; }

.small {
  font-size: 16px; }

.muted {
  color: #999;
  font-weight: 400; }

.oof {
  text-decoration: line-through;
  color: #d0d0d0; }

.text-dark {
  color: #333; }

.text-center {
  text-align: center !important; }

.title {
  position: absolute;
  top: 0;
  left: 0;
  text-align: right;
  padding-right: 0.33em;
  transform: rotate(-90deg) translate(-100%, -200%);
  transform-origin: left top;
  color: #d0d0d0;
  font-weight: 700; }

.hungary {
  padding-left: 0.25rem;
  padding-right: 0.25rem;
  position: relative;
  color: #000;
  font-weight: 700; }
  .hungary:after {
    position: absolute;
    content: "";
    z-index: -1;
    bottom: 0;
    left: 0;
    height: 0.25em;
    width: 100%;
    background: black linear-gradient(red 33%, white 34%, white 66%, green 67%); }

.links {
  margin-top: 2.5rem;
  font-size: 16px; }
  .links a {
    color: #2DBB54;
    margin-right: 1rem;
    position: relative; }
    .links a:hover:before {
      background-color: #2DBB54;
      height: 2px;
      display: block; }
    .links a:before {
      display: none; }
    .links a:after {
      position: absolute;
      content: "•";
      left: calc(100% + 0.5rem);
      color: #ccc; }
    .links a:last-child:after {
      content: ""; }

.list .list-item {
  margin-bottom: 1rem; }
  .list .list-item:last-child {
    margin-bottom: 0; }
  .list .list-item .content {
    padding-left: 2rem; }
    .list .list-item .content > p {
      font-size: 16px; }
  .list .list-item .highlights {
    font-size: 16px; }
  .list .list-item .thumbnail {
    max-width: 200px;
    display: block; }

section {
  position: relative;
  padding-top: 10vh;
  padding-bottom: 10vh;
  -webkit-transition: all 1s ease-in-out;
  -moz-transition: all 1s ease-in-out;
  -o-transition: all 1s ease-in-out;
  transition: all 1s ease-in-out; }
  section#intro {
    height: 70vh; }
  section#work a {
    font-weight: 700; }
  section#contact {
    padding-top: 10%;
    padding-bottom: 10%; }

#fun {
  background-color: #FFFFFF;
  height: 75vh; }

.mask {
  position: absolute;
  top: 0;
  left: 0;
  background-color: red;
  width: 100%;
  height: 100%;
  z-index: 2; }

.parallax-container {
  background-color: #d0b07a;
  position: relative;
  height: 50vh;
  width: 640px;
  margin: 0 auto;
  clip-path: circle(160px at center); }

.parallax {
  position: absolute;
  bottom: 0;
  left: 0; }

* {
  box-sizing: border-box; }

html {
  scroll-behavior: smooth; }

body {
  overflow-y: scroll;
  line-height: 1.5;
  font-family: 'Montserrat', 'Helvetica', 'Arial', sans-serif;
  font-size: 21px;
  color: #111111;
  overflow-x: hidden; }

.container {
  position: relative;
  max-width: 1000px;
  margin: 0 auto; }

.floaty-container {
  height: 100%;
  display: flex;
  align-items: center; }

.margin-bottom {
  margin-bottom: 2rem; }

.flex {
  display: flex;
  align-items: flex-start; }

.w-100 {
  width: 100%; }

.h-100 {
  height: 100%; }

.justify-between {
  justify-content: space-between; }

.list-thumbnail {
  display: block; }
